{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <p> publicado: {{ post.published_date }} </p>
            <h1> <a href = "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h1>
            <p> {{ post.text|linebreaksbr }} </p>
        </div>
    {% endfor %}

    <div class="pagination">
    <ul>
        {% if paginator.has_previous %}
        <li><a href="?page={{ paginator.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in paginator.page_range %}
        {% if paginator.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
        <li><a href="?page={{ paginator.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}